<div class="block-box block-box-classic">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			<li data-target="#carousel-example-generic" data-slide-to="5"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="img/shot1-min.png" alt="PHP Editor" itemprop="primaryImageOfPage" width="890" height="584">
				<div class="carousel-caption"></div>
			</div>
			<div class="item">
				<img src="img/shot5-min.png" alt="PHP Editor Dark Theme" itemprop="primaryImageOfPage" width="890" height="584">
				<div class="carousel-caption"></div>
			</div>
			<div class="item">
				<img src="img/shot4-min.png" alt="Advanced Content Assist" width="890" height="584">
				<div class="carousel-caption"></div>
			</div>
			<div class="item">
				<img src="img/shot6-min.png" alt="Advanced Content Assist Dark Theme" width="890" height="584">
				<div class="carousel-caption"></div>
			</div>
			<div class="item">
				<img src="img/shot2-min.png" alt="CSS Editor " width="890" height="584">
				<div class="carousel-caption"></div>
			</div>
			<div class="item">
				<img src="img/shot3-min.png" alt="Advanced Editing Features" width="890" height="584">
				<div class="carousel-caption"></div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span>
		</a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>